/* font */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

/* Styling */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: khaki;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: khaki;
    text-align: center;
    font-size: 6rem;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    background-color: cornsilk;
    color: rgb(246, 53, 149);
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    border: 2px solid black;
}

p {
    padding: 10px;
    text-align: center;
    font-size: .8rem;
    margin: 20px;
}

ul {
    width: fit-content;
    margin: 0 auto;
}

/* Experience */
.ctd-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ctd-title {
    font-weight: bold;
    font-size: .8rem;
}

.ctd-date {
    font-style: italic;
    font-size: .7rem;
}

#experience li {
    font-size: .7rem;
}

/* Connect */
.connect-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
}

.connect-links a {
    font-size: 1.5rem;
    color: hotpink;
}

.connect-links a:hover,
.connect-links a:focus {
    font-size: 2.5rem;
}

.github-logo {
    width: 40px;
}

.github-logo:hover,
.github-logo:focus {
    width: 80px;
}

/* Misc. */
.sumna-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 150px;
    filter: sepia(.25) contrast(1.5);
    border-radius: 10%;
    border: 2px solid black;
}

.flag {
    font-size: 1rem;
}
/* ==========
Navigation 
========== */
header {
    position: sticky;
    top: 0;
    background-color: orange;
    z-index: 1;
    opacity: .8;
    padding: 10px;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    position: sticky;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: khaki;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}

nav a:hover,
nav a:focus {
    font-size: 1.25rem;
    text-decoration: underline;
    color: red;
}