/* font */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

/* Styling */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    background: linear-gradient(khaki, hotpink)
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 auto;
}

h2 {
    background-color: cornsilk;
    color: rgb(246, 53, 149);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    border: 2px solid black;
    margin-top: 0;
}

p {
    padding: 10px;
    text-align: left;
    font-size: .6rem;
    line-height: 1.5;
}

ul {
    width: fit-content;
    margin: 0 auto;
}

#about {
    margin-bottom: .5rem;
}

/* Experience */
#experience {
    margin-bottom: 1rem;
}

.ctd-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ctd-title {
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: .5rem;
}

.ctd-date {
    font-style: italic;
    font-size: .6rem;
    margin-bottom: .5rem;
}

#experience li {
    font-size: .6rem;
    margin-bottom: .5rem;
}

/* Connect */
.connect-links {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    place-items: center;
}

.fa-envelope,
.fa-github,
.fa-linkedin {
    width: 100%;
}

.connect-links a:hover,
.connect-links a:focus {
    font-size: 2rem;
}

/* Footer */
.footer-style {
    text-align: center;
    font-size: .8rem;
    color: rgb(129, 78, 78);
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
    font-size: .8rem;;
}

#skills ul {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#skills li {
    list-style: none;
    border: 5px outset blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(231, 216, 216);
    font-weight: bold;
}

/* Message */
fieldset {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    width: 40%;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    gap: 10px;
}

form input {
    width: 100%;
    max-width: 200px;
}

label {
    color: rgb(81, 78, 78);
}

form button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: plum;
    color: rgb(81, 78, 78);
    margin: 0 auto;
}

textarea {
    width: 100%;
    max-width: 600px;
}

/* Msgs Dom */
.msgs-list li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Misc. */
.sumna-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 150px;
    filter: sepia(.25) contrast(1.5);
    border-radius: 10%;
    border: 2px solid black;
}

.flag {
    font-size: 1rem;
}
/* ==========
Navigation 
========== */
nav {
    background-color: linear-gradient(khaki, orange);
    z-index: 1;
    opacity: .8;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

nav ul {
    flex-direction: column;
    list-style: none;
    gap: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(215, 215, 190);
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-size: 1rem;
}

nav a:hover,
nav a:focus {
    font-size: 1.3rem;
    text-decoration: underline;
    color: red;
}

/* =============
    TABLET
    media query
============= */
@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        background-color: orange;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        color: cornsilk;
    }

    #about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .photo-container {
        width: 100%;
        max-width: 250px;
    }

    .about-container {
        width: 100%;
        max-width: 400px;
    }

    .about-me {
        text-align: center;
        font-size: .9rem;
    }

    .ctd-title {
        font-size: 1rem;
    }

    .ctd-date {
        font-size: 1rem;
    }

    #experience li {
    font-size: .8rem;
    }

}

/* =============
    Laptop
    media query
============= */
@media (min-width: 1024px) {

    h1 {
        font-size: 8rem;
    }

    h2 {
        background-color: rgb(236, 232, 232);
        color: orange;
    }

    nav a {
        font-size: 1.3rem;
        color: darkgrey;
    }

    nav a:hover,
    nav a:focus {
        font-size: 1.4rem;
        color: black;
    }

    .photo-container {
        max-width: 300px;
    }
}